$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$green: green;
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

$font-family-Oswald: 'Oswald Regular', 'Oswald Bold', 'Oswald Light';
$font-family-Source-Sans-Pro: 'Source Sans Pro Regular', 'Source Sans Pro Light', 'Source Sans Pro Bold', 'Source Sans Pro Semibold', 'Source Sans Pro Italic';

$img-login_layout: '~assets/img/login/login.jpg';
$img-Logo_Epam_Color: '~uui-framework/images/Logo_Epam_Color.svg';
$img-Logo_Epam_Gray: '~uui-framework/images/Logo_Epam_Gray.svg';
$img-Logo_Epam_White: '~uui-framework/images/Logo_Epam_White.svg';

//PRIMARY BASIC COLORS
$color-blue: #39C2D7;
$color-green_lime: #A3C644;
$color-gray_dark: #464547;
$color-white: #FFFFFF;

//SECONDARY BASIC COLORS
$color-raspberry: #B22746;
$color-plum: #8E244D;
$color-dark_blue: #1A9CB0;
$color-dark_green: #7F993A;
$color-medium_gray: #666666;
$color-gray: #999999;
$color-gray_light: #CCCCCC;

//ADDITIONAL COLORS
$color-yellow: #FFDC19;
$color-orange: #FF9B19;
$color-red: #CB2323;
$color-fuchsia: #E4445F;
$color-black: #333333;
$color-violet: #8B5A9F;
$color-bg_gray: #F5F5F5;
$color-dark_bg_gray: #EBEEF0;

