<div class="container">

  <div class="row">

    <form class="login-form text-center">

        <div class="login-form__header">
            <h2 class="login-form__heading">Students Testing Tool <sup>0.0.1</sup></h2>
        </div> <!--login-form__header-->

      <div class="login-form__body">
        <div class="uui-login-panel login-form__epam-login">
          <div class="login-panel-body">
            <div class="login-panel-section">
              <div class="epam-login">
                <button class="uui-button large raspberry">
                  <i class="fa fa-angle-left"></i>
                  EPAM Login
                  <i class="fa fa-angle-right"></i>
                </button>
              </div>
              <div class="login-separator login-form__separator">
                <div class="border">
                  <span></span>
                </div>
                <div class="text">
                  <span>or</span>
                </div>
                <div class="border">
                  <span></span>
                </div>
              </div>
            </div>
          </div> <!--.login-panel-body-->
        </div> <!--.login-form__epam-login-->

        <div class="login-form__inputs inputs">

          <div class="uui-input-group input-login default">
            <input type="text" class="uui-form-element inputs__login"/>
            <i class="fa fa-envelope inputs__login inputs__icon" aria-hidden="true"></i>
          </div>

          <div class="uui-input-group input-login default">
            <input type="password" class="uui-form-element inputs__login"/>
            <i class="fa fa-lock inputs__login inputs__icon" aria-hidden="true"></i>
          </div>

        </div> <!--.login-form__inputs-->

        <div class="uui-login-panel login-form__epam-login">
          <div class="login-panel-body">
            <div class="login-panel-section">
              <div class="epam-login">
                <button class="uui-button large raspberry uui-button--green">
                    Login
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="login-form__info">
          This system is owned by EPAM Systems. If you are not authorized to access this system, exit immediately.
          Unauthorized access to this system is forbidden by company policies, national, and international laws.
          Unauthorized users are subject to criminal and civil penalties as well as company initiated
          disciplinary proceedings.By entering this system you acknowledge that you have authorized access
          and appropriate of privilege within the system.
        </div>

      </div> <!--.login-form__body-->

    </form> <!--.login-form-->

  </div> <!--.row-->

</div> <!--.container-->

